bin/
obj/
artifacts/

.vs/
.vscode/

launchSettings.json

# ignore vs user files
*.csproj.user
*.vcxproj.user

# ignore open excel files
~*.xls*

# ignore virtual env
.venv/

# ignore mkdocs build folder and generated excel docs
docs/site/
docs/docs/excel