<?include ..\..\variables.wxi ?>

<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ComponentGroup_AddIn" Directory="INSTALLFOLDER">

      <Files Include="$(XlBlocks.AddIn.TargetDir)\**" Directory="Directory_AddIn" />
      
    </ComponentGroup>
  </Fragment>
</Wix>
