<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
    <netfx:DotNetCompatibilityCheck Id="netCoreStatus" Property="NETCORESTATUS" RollForward="latestMajor" RuntimeType="core" Version="6.0.1" Platform="x64" />
    <Launch Condition="Installed OR NETCORESTATUS=&quot;0&quot;" Message="[ProductName] requires Microsoft .NET Core - 6.0.1 or greater." />
  </Fragment>
</Wix>