<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">
	<targets>
		<target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}"
            fileName="${specialfolder:dir=XlBlocks/logs/:file=XlBlocks.AddIn.log:folder=LocalApplicationData}"
						maxArchiveFiles="5" archiveNumbering="DateAndSequence"
						archiveEvery="Day"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile"/>
	</rules>
</nlog>